<h2><%= h @item.productname %></h2>

	<%= @item.productname %><br />
	<%= @item.seller %><br />
	<%= @item.description %><br />
	<%= @item.price %><br />
	<%= @item.quantity %><br />
	
	<%= error_messages_for(:item) %>
	<%= button_to 'Reserve', item_path(@item, :item => {:reserved => true} ), :method => :put %>