<h2><%= h @item.product_name %> from <%= h @list.user.email %>'s List "<%= h @list.title %>"</h2>

	<h3><%= @item.product_name %></h3>
	<%= @item.seller %><br />
	<%= @item.description %><br />
	<%= @item.price %><br />
	<%= @item.quantity %><br />
	
	<%= error_messages_for(:item) %>
	<%= button_to 'Reserve', list_item_path(@list, @item, :item => {:reserved => true} ), :method => :put %>